/* Css pr base.html.twig*/
body{
    display: flex;

}
#bkgd{
    background-image: url('/img/bgd.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: scroll;
    background-position: top;

}


.bg {
    background-color: #1f5f8f !important;
    margin: auto;
}
.bienvenue{
    text-align: center;
}
li{
    list-style-type: none !important;
}
.nav-link{
    text-decoration:none;
    color:white;

}
#logo{
    display: block;
    margin: auto;
    width:200px;
}
#foot{
    color: #1f5f8f;
    display: block;
    width: 100%;
    text-align: center;

}

/*css block container base.html.twig*/
#main{
    /*padding: 5% 0;*/
}
.section{
    font-family: 'Raleway', sans-serif;
}
/* Css pr base.html.twig footer */
.bg-succ {
    background-color: #1f5f8f !important;
    margin: auto;
}
.text-light{
    color: black!important;
    text-align: center;
}
#sect{
    padding: 10%;
}

/*test card*/
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {

    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
}


/*css  login.html.twig */

/*#butt{*/
/*    margin: 10% 0;*/
/*    border:1px solid black;*/
/*}*/
#bubu{

    margin-left: 30%;
    border:1px solid black;
}
#bu{
    margin: 10% 0;
    border:1px solid black;
    margin-left: 10%;
}
#inputPseudo{
    margin-left: 30% ;

}
#inputPassword{
    margin-left: 30% ;
}
.connecte{
    margin-left: 30% ;
    padding: 3% ;
}
/*css register.html.twig*/
#but{
    margin: 10% 0;
    border:1px solid black;

}
#bu{
    margin: 10% 0;
    border:1px solid black;
    margin-left: 10%;
}
/*#confP{*/
/*    padding-top: 10%;*/
/*}*/
/*#confP2{*/
/*    padding-top: 10%;*/
/*}*/

/*css  create place.html.twig */
.ajoutlieu{
    padding-left: 18%;
    padding-bottom: 3%;
    margin-top: 7%;
}
.champs{
    padding: 2%;
}
#bu2{
    margin-left:50%;
    border:1px solid black;
    margin-top: 22%;

}
#bubu2{
    margin-left:60%;
    border:1px solid black;
    margin-top: 22%;
}
.listelieux{
    margin-top: 5%;
}