{%  extends('base.html.twig') %}
{% block titlePage %}Mon Profil{% endblock %}


{% block container  %}
    <row class="d-flex justify-content-center align-items-center">
        <div class="m-4">
            <p class="text danger border"> IMAGE</p>
        </div>
        <div class="m-4 ">
                <h3>>--Profil--<</h3>
                {{ form_start(userForm) }}
                {{ form_widget(userForm)}}
                <button class="btn-success m-2" type="submit">Valider</button>
                {{ form_end(userForm) }}
    </row>


{% endblock %}